/* 기업정보의 실제 본문 내용 css */



/* 컨텐츠 영역 */
#content .title_area .line_map i{opacity: .4;}
.content_area .section01 h3{font-size: 2.5rem; font-weight: 600; text-align: center; margin-top: 50px;}
.content_area .section01 .chaart1{margin-top: 100px;}

.content_area .section02{margin-bottom: 300px;}
.content_area .section02 h3{font-size: 2.5rem; font-weight: 600; text-align: center; margin: 150px 0 100px;}
.content_area .section02 table {width: 1200px; border-collapse: collapse; }
.content_area .section02 table th, table td {width: 25%; border: 1px solid #747474; padding: 30px; text-align: center;
    border-left: none; border-right: none;}
.content_area .section02 table th{background-color: #f2f2f2; font-size: 1.78rem}
.content_area .section02 table td{font-size: 1.18rem;}
.content_area .section02 table{margin-bottom: 100px;}