/* 메인 비주얼 / 컨텐츠 */

.visual img{width: 100%;}
.visual .swiper-slide{position: relative;}
.visual .swiper-slide p{font-size: 1.8rem; font-weight: 700; color: #fff;
    position: absolute; left: 5%; bottom: 16%;}
.visual .swiper-slide span{font-size: 1.3rem; color: #fff;
    position: absolute; left: 5%; bottom: 12%;}



/* 비즈니스 영역 */
#content .tit01{width: 100%; 
margin: 50px 0 30px 20px;}
#content .tit01 h3{font-size: 1.8rem; font-weight: 700;}
#content .tit01 p{font-size: 1rem;}
#content .content01 li{position: relative;}
#content .content01 .img{width: 95%; margin: 0 auto;}
#content .content01 img{width: 100%;
    border-radius: 30px; }
#content .content01 dl{color: #fff;
    position: absolute; left: 6%; bottom: 6%;}
#content .content01 dl dt a{font-size: 1.5rem; font-weight: 600;
    margin-bottom: 15px; color: #fff;}
#content .content01 dl dd{font-size: 1rem; width: 80%;}
#content .content01{margin-bottom: 100px;}


/*ESG 영역 */
#content .tit02{width: 100%; color: #fff; position: relative;}
#content .tit02 img{width: 100%; height: 350px;
    object-fit: cover; object-position: center;}
#content .tit02 h3{font-size: 1.8rem; font-weight: 700;
    position: absolute; left: 3%; top: 5%;}
#content .tit02 p{font-size: 1rem;
    position: absolute; left: 3%; top: 16%; margin-right: 20px;}
#content .swiper3 dl{color: #fff; height: 200px; padding: 20px; }
#content .swiper3 dt{font-size: 1.5rem; font-weight: 600;
    margin: 70px 0 20px;}
#content .swiper3{position: relative; top: -100px; width: 100%; margin: 0 auto;}    
#content .swiper3 dd{text-align: justify;}
#content .swiper3 .swiper-slide{width: 33.33%; overflow: hidden;
    box-sizing: border-box;}
#content .swiper3 .swiper-slide:nth-child(1) dl{background: #004ca6 url(../images/esgbg01.png) right 30px no-repeat;}
#content .swiper3 .swiper-slide:nth-child(2) dl{background:#003266 url(../images/esgbg02.png) right 30px no-repeat;}
#content .swiper3 .swiper-slide:nth-child(3) dl{background:#01056a url(../images/esgbg03.png) right 30px no-repeat;}



/* 기업소개 영역 */
#content .section03 .tit03{text-align: center;}
#content .section03 .tit03 h3{font-size: 1.8rem; font-weight: 700;
margin: 0 0 20px;}
#content .section03 .tit03 p{font-size: 1rem;
margin-bottom: 50px;}
#content .section03 .content03{display: flex; width: 90%; margin: 0 auto;
    justify-content: space-between;}
#content .section03 .img{width: 90%; margin: 0 auto;}
#content .section03 .img img{width: 100%; }
#content .section03 .prev{color: #0C4DA2; font-size: 2.3rem; font-weight: 600;}
#content .section03 dl{margin: 5px 0 10px 0; width: 70%;}
#content .section03 dl dt{font-size: 1.5rem; font-weight: 500;
margin-bottom: 20px;}

.feature{margin-bottom: 100px;}
.feature div{margin-top: 100px;}
.feature ul li{height: 150px; width: 110px; color: #fff; 
padding: 10px;
box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .45);
clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);}
.feature ul dt{font-size: 1.3rem; font-weight: 500; margin-bottom: 5px;}
.feature ul dd{font-size: 1rem;}
.feature ul li i{font-size: 4rem; margin:0 0 15px 30px;}
.feature ul li:nth-of-type(1){background: #0C4DA2;}
.feature ul li:nth-of-type(2){background: #1160C8;}
.feature ul li:nth-of-type(3){background: #166FE3;}
.feature ul li:nth-of-type(4){background: #3A8CF8;}
.feature ul li:nth-of-type(5){background: #73ADF9;}
.feature ul li:nth-of-type(6){background: #96b6e0;}
/* .feature ul li::after {
    content: '';width: 120px;height: 150px; background: rgba(0,0,0,.1);
    position: absolute; left:20px; top:30px; z-index: -1;} */



/* 인재채용 영역 */
#content .section05{height: 320px; position: relative; margin-bottom: 100px;overflow: hidden;
background: url(../images/person.jpg) center bottom no-repeat; background-size: cover;}
#content .tit05{text-align: center; color: #fff; margin: 50px 0;}
#content .tit05 h3{font-size: 1.8rem; font-weight: 700;
margin: 0 0 20px;}
#content .tit05 p{font-size: 1rem;}
#content .content05{text-align: center;}
#content .content05 ul{display: flex; justify-content:center; gap:2%;}
#content .content05 ul li{background: #0C4DA2;
width: 150px; border-radius: 15px;}
#content .content05 ul a{padding: 7px;}
#content .content05 ul span{color: #fff;}

