/* 비주얼 영역 */
.visual{position: relative;}
.visual img{width: 100%; height: 250px; position: relative; }
.visual span{font-size: 1.5rem; color: #fff;
    position: absolute; left: 50%; bottom: 25%; 
transform: translate(-50%,-25%);}


/* 서브메뉴 영역 */
.sub_nav{width: 100%; border-bottom: 1px solid #ccc; margin: 0 auto;}
.sub_nav ul{overflow: hidden; margin: 0 auto; display: flex;}
.sub_nav li{width: 50%; text-align: center;}
.sub_nav li a{font-size: 1.1rem; font-weight: 400; padding: 12px 0;}
.sub_nav li .current{background: #4DA9E1; color: #fff;
font-weight: 500;}


/* 타이틀 영역 */
#content{width: 100%; margin: 0 auto;}
#content .title_area{height: 300px; position: relative; overflow: hidden;}
#content .title_area h2{font-size: 2.2rem; text-align: center; margin-top: 70px;
    position: relative;}
#content .title_area h2::after{content:''; display: block;
width: 3px; height: 60px; background: #034EA2; position: absolute; top: 100px; left: 50%;}
#content .title_area p{font-size: 1.1rem; text-align: center;}


/* 본문 컨텐츠 영역 */


.content_area .info h3{font-size: 2rem; font-weight: 600; text-align: center;
margin-bottom: 10px;}
.content_area .info p{font-size: 1.1rem; font-weight: 500; text-align: center;
margin-bottom: 30px;}
.content_area .info strong{color: #4DA9E1;}
.content_area .info ul{overflow: hidden;}
.content_area .info ul img{width: 100%; height: 200px;
margin-bottom: 80px; object-fit: cover;}
.content_area .info ul li{position: relative;}
.content_area .info ul p{position: absolute; left: 0; top: 25%; color: #fff;
font-size: 1.2rem; font-weight: 400; text-align: center;}

.content_area .info div{display: flex; gap: 2%;}
.content_area .info div img{width: 100%; height: 175px; margin-bottom: 80px;
border-radius: 10%; box-sizing: border-box;}
.content_area .info div dl{padding: 10px ; box-sizing: border-box;}
.content_area .info div dt{font-size: 1.3rem; font-weight: 500;
margin-bottom: 30px; }
.content_area .info div dd{font-size: 1rem; line-height: 1.5rem;}
    


